# Python caches and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local environment variables
.env

# Large Binaries and heavy files
audacity-linux-3.7.7-x64-22.04.AppImage
*.AppImage
*sonic*
*Programming Lecture(Windows)*

# External source code
essentia/

# Virtual environments
.venv/
venv/
